<% var activeNavItem = 'class="nav-item active"'; %>
<% var navItem = 'class="nav-item"'; %>
<% var srCurrent = '<span class="sr-only">(current)</span>'; %>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= site.rootPath; %>/index.html">shiori</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-fixed-top">
      <li <%- (current == 'index') ? activeNavItem : navItem %>>
        <a class="nav-link" href="<%= site.rootPath; %>/index.html">home<%- (current == 'index') ? srCurrent : '' %></a>
      </li>
      <li <%- (current == 'portraits') ? activeNavItem : navItem %>>
        <a class="nav-link" href="<%= site.rootPath; %>/portraits.html">portraits<%- (current == 'portraits') ? srCurrent : '' %></a>
      </li>
      <li <%- (current == 'works') ? activeNavItem : navItem %>>
        <a class="nav-link" href="<%= site.rootPath; %>/works.html">works<%- (current == 'works') ? srCurrent : '' %></a>
      </li>
      <li <%- (current == 'profile') ? activeNavItem : navItem %>>
        <a class="nav-link" href="<%= site.rootPath; %>/profile.html">profile<%- (current == 'profile') ? srCurrent : '' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/sh_photo27">instagram</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.twitter.com/sh_photo27">twitter</a>
      </li>
    </ul>
  </div>
</nav>
