<% pages = pagesMeta; %>

<% var activeNavItem = 'class="nav-item active"'; %>
<% var navItem = 'class="nav-item"'; %>
<% var srCurrent = '<span class="sr-only">(current)</span>'; %>

<!-- Navbar -->
<nav class="navbar navbar-expand navbar-light bg-white sticky-top">
  <a class="navbar-brand" href="<%- site.rootPath %>/albums.html">Shiori</a>
  <div class="navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <% for (var i = 1; i < pages.length - 1; i++) { %>
      <li <%- (current == pages[i].id) ? activeNavItem : navItem; %>>
        <a class="nav-link" href="<%- site.rootPath %><%- pages[i].relativePath %>"><%- pages[i].name.toUpperCase() %><%- (current == pages[i].id) ? srCurrent : ''; %></a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
