<% var dataList = albumList; %><!doctype html>
<html>
  <%- include('partial/_head'); %>
  <body>
    <%- include('partial/_nav', {
      current: page.name
    }); %>
    <main>
      <div class="container-fluid my-5">
        <div class="row">
          <div class="col-12">
            <div class="card-columns">
              <div class="card">
                <img src="<%- site.rootPath %>/albums/01/1.jpg">
                <div class="card-img-overlay">
                  <h4 class="card-title">ライトコース</h4>
                  <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
                </div>
                <a href="#" class="stretched-link"></a>
              </div>
              <a href="#" class="card">
                <img src="<%- site.rootPath %>/albums/01/1.jpg">
                <div class="card-img-overlay">
                  <h4 class="card-title">ライトコース</h4>
                  <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partial/_footer'); %>
  </body>
</html>
