<% var data = jsonData; %><!doctype html>
<html>
  <%- include('partial/_head', {
    pageId: data.id
  }); %>
  <body>
    <%- include('partial/_nav', {
      current: page.name
    }); %>
    <main>
      <div class="container">
        <div class="row">
          <h1 class="col-12 text-center"><%- data.name %></h1>
          <h2 class="col-12 text-center"><%- data.year %> / <%- data.month %></h2>
          <% var imgNum = data.imgNum; %>
          <% for (var i = 1; i <= imgNum; i++) { %>
          <div class="col-12 col-md-6 offset-md-3 img-guard"><span class="guard-nopic"></span>
            <img class="d-block mx-auto" src="<%- site.rootPath %>/img/portraits/<%- data.id %>/<%- i %>.jpg" alt="<%- data.name + i %>"
            oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
          </div>
          <% } %>
        </div>
      </div>
    </main>
    <%- include('partial/_footer'); %>
  </body>
</html>
