<!doctype html>
<html>
  <%- include('partial/_head'); %>
  <body>
    <div class="wrapper">
      <%- include('partial/_nav', {
        current: page.id
      }); %>
      <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="img-guard my-5"><span class="guard-nopic"></span>
                <img class="d-block mx-auto rounded-circle profile-img" src="<%- site.rootPath %>/img/profile.jpg" alt="profile"
                oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
              <h1 class="text-center mb-5">Shiori Ueda</h1>
              <div>
                <h2 class="text-center mb-3">Profile</h2>
                <p>
                  1999年生まれ。慶應義塾大学理工学部に在籍中。<br>
                  2018年の秋頃から写真を始め、写真の虜となってしまいました。
                  特にポートレートが好きで、主に東京都内でポートレート撮影をしています。
                  2020年からは、<a href="https://bigakusei.com/">美学生図鑑</a>にカメラマンとして所属し活動しています。<br>
                  ご連絡の際は、下記のSNSのダイレクトメッセージにてお願いします。<br>
                </p>
                <p class="strong">
                  SNS :
                  <a class="pl-2" href="<%- site.instagramAccount %>">Instagram</a>
                  <a class="pl-1" href="<%- site.twitterAccount %>">Twitter</a>
                </p>
              </div>
              <div class="mt-5">
                <h2 class="text-center mb-3">About this site</h2>
                <p>
                  このサイトは Shiori Ueda によるギャラリーサイトです。
                  「digitalな、自分の写真集を作ってみたい」という思いでこのサイトを制作しました。
                  ポートフォリオというよりも娯楽的な目的で作ったので、楽しんで写真を見ていただければ幸いです。
                  掲載されている写真はもちろん、コーディングやデザインも全て私によるものです。
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include('partial/_footer'); %>
    </div>
  </body>
</html>
