<% var data = jsonData; %><!doctype html>
<html>
  <%- include('partial/_head', {
    pageId: data.id
  }); %>
  <body>
    <%- include('partial/_nav', {
      current: page.name
    }); %>
    <main>
      <div class="container">
        <div class="row">
          <% var imgNum = data.imgNum; %>
          <% for (var i = 1; i <= imgNum; i++) { %>
          <div class="col-12 col-md-6 offset-md-3 img-guard"><span class="guard-nopic"></span>
            <img class="d-block mx-auto" src="<%- site.rootPath %>/img/works/<%- data.id %>/<%- i %>.jpg" alt="<%- data.name + i %>"
            oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;">
          </div>
          <% } %>
          <p class="col-12 my-3 text-center">
            link: <a href="<%- data.site %>"><%- data.site %></a>
          </p>
        </div>
      </div>
    </main>
    <%- include('partial/_footer'); %>
  </body>
</html>
